In [8]:
# read a file data
import pandas as pd
movies_df=pd.read_csv('D:\\Python\\Term-1-master\\Term-1-master\\Data\\Projects\\1000 movies data.csv')
movies_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [11]:
# check the size of matrix
movies_df.shape

(1000, 12)

In [15]:
# check the type of each column
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.8+ KB

##### Revenue and Metascore are having some null values

In [53]:
# check range of year
movies_df['Year'].unique()

array([2014, 2012, 2016, 2015, 2007, 2011, 2008, 2006, 2009, 2010, 2013],
      dtype=int64)

In [55]:
# check count of year
movies_df['Year'].nunique()

11

In [56]:
# check count of each value in Year column
movies_df['Year'].value_counts()

2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: Year, dtype: int64

In [20]:
# check the range of rating
movies_df['Rating'].unique()

array([8.1, 7. , 7.3, 7.2, 6.2, 6.1, 8.3, 6.4, 7.1, 7.5, 7.8, 7.9, 7.7,
       6.6, 8.2, 6.7, 8. , 6.5, 5.3, 6.8, 4.7, 5.9, 6.3, 5.6, 8.6, 7.6,
       6.9, 2.7, 3.7, 5.8, 9. , 7.4, 4.1, 8.5, 8.8, 5.4, 6. , 5.7, 8.4,
       5.2, 5.5, 4.8, 3.9, 4.9, 5.1, 5. , 4.3, 4.6, 4.2, 4. , 3.2, 4.5,
       1.9, 3.5, 4.4])

In [21]:
# check count of unique values of rating
movies_df['Rating'].nunique()

55

In [42]:
# check the count of each value of rating
movies_df['Rating'].value_counts()

7.1    52
6.7    48
7.0    46
6.3    44
6.6    42
7.2    42
7.3    42
6.5    40
7.8    40
6.2    37
6.8    37
7.5    35
6.4    35
7.4    33
6.9    31
6.1    31
7.6    27
7.7    27
5.8    26
6.0    26
8.1    26
7.9    23
5.7    21
8.0    19
5.9    19
5.6    17
5.5    14
5.3    12
5.4    12
5.2    11
8.2    10
4.9     7
8.3     7
4.7     6
8.5     6
4.6     5
5.1     5
5.0     4
4.8     4
4.3     4
8.4     4
3.9     3
8.6     3
8.8     2
2.7     2
4.2     2
3.5     2
3.7     2
9.0     1
3.2     1
4.0     1
4.5     1
4.4     1
4.1     1
1.9     1
Name: Rating, dtype: int64

In [26]:
# check range of Metascore
movies_df['Metascore'].unique()

array([ 76.,  65.,  62.,  59.,  40.,  42.,  93.,  71.,  78.,  41.,  66.,
        74.,  81.,  70.,  61.,  58.,  69.,  49.,  96.,  72.,  56.,  32.,
        nan,  60.,  36.,  39.,  67.,  52.,  75.,  54.,  99.,  57.,  45.,
        64.,  68.,  16.,  23.,  18.,  82.,  79.,  51.,  44.,  48.,  46.,
        90.,  50.,  53.,  83.,  77.,  85.,  55.,  80.,  88.,  87.,  91.,
        63.,  86.,  84.,  29.,  47.,  73.,  33.,  43.,  25.,  35.,  98.,
        31.,  94.,  38.,  34.,  26.,  92.,  95.,  30.,  27.,  19.,  89.,
        28.,  22.,  37.,  20., 100.,  15.,  24.,  11.])

In [27]:
# check count of unique Metascore
movies_df['Metascore'].nunique()

84

In [43]:
# check count of each value of Metascore
movies_df['Metascore'].value_counts()

66.0     25
72.0     25
68.0     25
64.0     24
57.0     23
51.0     22
65.0     22
48.0     21
81.0     21
76.0     21
56.0     20
53.0     20
58.0     20
60.0     19
59.0     19
63.0     19
74.0     17
47.0     17
69.0     17
42.0     17
55.0     17
79.0     16
39.0     16
46.0     16
62.0     16
71.0     15
52.0     15
49.0     15
67.0     15
73.0     14
         ..
75.0      8
32.0      7
30.0      7
86.0      7
23.0      6
27.0      6
90.0      5
96.0      4
18.0      4
87.0      4
29.0      4
93.0      3
28.0      3
89.0      3
95.0      3
22.0      3
94.0      3
24.0      2
92.0      2
26.0      2
25.0      2
99.0      1
15.0      1
100.0     1
98.0      1
91.0      1
20.0      1
19.0      1
16.0      1
11.0      1
Name: Metascore, Length: 84, dtype: int64

In [50]:
# identify the null values in Revenue column
movies_df[movies_df['Revenue (Millions)'].isnull()].index

Int64Index([  7,  22,  25,  39,  42,  47,  49,  61,  70, 103,
            ...
            964, 965, 966, 968, 976, 977, 978, 988, 995, 998],
           dtype='int64', length=128)

In [51]:
# identify the null values in Metascore column
movies_df[movies_df['Metascore'].isnull()].index

Int64Index([ 25,  26,  27,  39,  42,  47, 103, 117, 123, 154, 183, 196, 269,
            274, 282, 289, 293, 307, 317, 335, 356, 367, 402, 417, 429, 435,
            445, 484, 523, 526, 532, 539, 543, 605, 606, 617, 628, 634, 645,
            648, 692, 696, 700, 706, 747, 755, 758, 766, 778, 779, 820, 826,
            828, 891, 896, 929, 939, 946, 965, 967, 969, 971, 989, 992],
           dtype='int64')

In [41]:
# list of actor in a movie
movies_df.loc[0,'Actors']

actor_df=movies_df.Actors.str.split(',', expand=True)
actor_df.columns=['Actor1','Actor2','Actor3','Actor4']
actor_df.head()

,Actor1,Actor2,Actor3,Actor4
0,Chris Pratt,Vin Diesel,Bradley Cooper,Zoe Saldana
1,Noomi Rapace,Logan Marshall-Green,Michael Fassbender,Charlize Theron
2,James McAvoy,Anya Taylor-Joy,Haley Lu Richardson,Jessica Sula
3,Matthew McConaughey,Reese Witherspoon,Seth MacFarlane,Scarlett Johansson
4,Will Smith,Jared Leto,Margot Robbie,Viola Davis

In [34]:
# list of Genre
movies_df.loc[0,'Genre']

'Action,Adventure,Sci-Fi'